<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebServices.Properties.Settings>
            <setting name="WebServices_EmployeeAdditionalCardReference_EmployeeAdditionalInfoCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/EmployeeAdditionalInfoCard</value>
            </setting>
            <setting name="WebServices_EmplaoyeeReference_EmployeeCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/EmployeeCard</value>
            </setting>
            <setting name="WebServices_FinancialUpgradeReference_FinancialUpgradeCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/GOVT%20POLYTECHNIC%20ANGUL/Page/FinancialUpgradeCard</value>
            </setting>
            <setting name="WebServices_EmployeePromotionHistoryReference_EmployeePromotionHistoryCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/GOVT%20POLYTECHNIC%20ANGUL/Page/EmployeePromotionHistoryCard</value>
            </setting>
            <setting name="WebServices_EmployeeTransferApplicationReference_EmployeeTransferApplicationCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/EmployeeTransferApplicationCard</value>
            </setting>
            <setting name="WebServices_EmployeeAchvReference_EmployeeAchvCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/EmployeeAchvCard</value>
            </setting>
            <setting name="WebServices_EmployeeDscpReference_EmployeeDscpCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/EmployeeDscpCard</value>
            </setting>
            <setting name="WebServices_EmployeeTrainingHistoryReference_EmployeeTrainingHistoryCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/EmployeeTrainingHistoryCard</value>
            </setting>
            <setting name="WebServices_AnnualPerformanceReference_AnnualPerformanceCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/GOVT%20POLYTECHNIC%20ANGUL/Page/AnnualPerformanceCard</value>
            </setting>
            <setting name="WebServices_CourtCaseReference_CourtCaseCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/GOVT%20POLYTECHNIC%20ANGUL/Page/CourtCaseCard</value>
            </setting>
            <setting name="WebServices_RTIMonitoringReference_RTIMonitoringCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/GOVT%20POLYTECHNIC%20ANGUL/Page/RTIMonitoringCard</value>
            </setting>
            <setting name="WebServices_AnnualEstablishmentReviewReference_AnnualEstablishmentReviewCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/AnnualEstablishmentReviewCard</value>
            </setting>
            <setting name="WebServices_HRMSCodeunitReference_HRMSCodeunit"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Codeunit/HRMSCodeunit</value>
            </setting>
            <setting name="WebServices_EmployeeTransferHistoryReference_EmployeeTransferHistoryCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/EmployeeTransferHistoryCard</value>
            </setting>
            <setting name="WebServices_InfraCodeunitReference_InfraCodeunit"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Codeunit/InfraCodeunit</value>
            </setting>
            <setting name="WebServices_CourseFeeHeaderReference_CourseFeeHeaderCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/GOVT%20POLYTECHNIC%20ANGUL/Page/CourseFeeHeaderCard</value>
            </setting>
            <setting name="WebServices_BookCardReference_BookCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/GOVT%20POLYTECHNIC%20ANGUL/Page/BookCard</value>
            </setting>
            <setting name="WebServices_FeeManagementCodeUnitReference2_FeeManagementCodeUnit"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/GOVT%20POLYTECHNIC%20ANGUL/Codeunit/FeeManagementCodeUnit</value>
            </setting>
            <setting name="WebServices_InfraLandCardReference_LandCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/LandCard</value>
            </setting>
            <setting name="WebServices_InfraGeneralLandBuildingReference_GeneralLandBuildingCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/GeneralLandBuildingCard</value>
            </setting>
            <setting name="WebServices_InfraInstituteBuildingReference_InstituteBuildingCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/InstituteBuildingCard</value>
            </setting>
            <setting name="WebServices_InfraHostelBuildingReference_HostelBuildingCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/HostelBuildingCard</value>
            </setting>
            <setting name="WebServices_InfraStaffQuarterReference_StaffQuarterCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/StaffQuarterCard</value>
            </setting>
            <setting name="WebServices_InfraAuditoriumBuildingReference_AuditoriumBuilding_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/AuditoriumBuilding</value>
            </setting>
            <setting name="WebServices_InfraNewprojectReference_Newprojectcard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/Newprojectcard</value>
            </setting>
            <setting name="WebServices_InfraOngoingprojectReference_Ongoingprojectcard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/Ongoingprojectcard</value>
            </setting>
            <setting name="WebServices_InfraImprovementprojectReference_Improvementprojectcard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/Improvementprojectcard</value>
            </setting>
            <setting name="WebServices_InfraProjectprogressdetailsReference_Projectprogressdetailscard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/Projectprogressdetailscard</value>
            </setting>
            <setting name="WebServices_InfraEstimatePrepReference_EstimatePrepCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/EstimatePrepCard</value>
            </setting>
            <setting name="WebServices_InfraServiceReference_ServiceCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/ServiceCard</value>
            </setting>
            <setting name="WebServices_BookCardReference1_BookCard_Service"
                serializeAs="String">
				CourtCaseCard
				<value>http://10.100.0.5:8047/BC200/WS/GOVT%20POLYTECHNIC%20ANGUL/Page/BookCard</value>
            </setting>
            <setting name="WebServices_BookIssueCardReference_BookIssueCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/GOVT%20POLYTECHNIC%20ANGUL/Page/BookIssueCard</value>
            </setting>
            <setting name="WebServices_InfraAMCReference_AMCCard_Service"
                serializeAs="String">
                <value>http://10.100.0.5:8047/BC200/WS/CRONUS%20India%20Ltd./Page/AMCCard</value>
            </setting>
        </WebServices.Properties.Settings>
    </applicationSettings>
</configuration>